* {
  padding: 0;
  margin: 0;
}

*:not(a, input, button, img) {
  cursor: default;
}

:root {
  --main-text-color: #2e3338;
  --main-background-color: #f7f7f7;
  --alt-background-color: #ccc;
  --main-trim-color: #e0e0e0;

  --main-bold-blue: #004665;
  --main-light-blue: #007aa9;

  --link-underline-color: #dade8a;
}

html {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  font-family: "IBM Plex Sans", Helvetica, Arial, "Lucida Grande", sans-serif;

  font-weight: 400;
  font-size: 16px;

  color: var(--main-text-color);
  background-image: url("../img/AIBridge_Background.png");
  background-size: cover;
}

img {
  object-fit: cover;
}

a:not(a:hover) {
  text-decoration: none;
}

.main {
  margin: auto;
  padding-bottom: 100px;
  padding-top: 20px;
  min-height: 100vh;
  width: 80%;
  background-color: var(--main-background-color);
}

/* ----- for navbar animation ----- */
.navbar-nav a {
  position: relative;
}

.navbar-nav a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ccc;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: width 0.2s ease-in-out;
}

.navbar-nav a:hover::after,
.navbar-nav .active::after {
  width: 90%;
  transform: translateX(-50%) scaleX(1);
  transition: width 0.2s ease-in-out;
}
/* ------------------------- */

#search-results {
  position: absolute;
  top: 100%;

  max-height: 0;
  width: inherit;
  background-color: #404045;
  padding: 0 10px;
  border-radius: 0 0 16px 16px;
  overflow-y: scroll;

  color: black;
  transition: height 0.5s ease;
}

.search-result-item {
  background-color: #ccc;
  padding: 8px 10px;
  margin: 12px 0;
  border-radius: 16px;
}

.card {
  width: 90%;
  margin: 8px auto;
}

.card:not(.custom-size) img {
  width: 200px;
  border-radius: 0 3px 3px 0;
}

li[data-toggle="collapse"]:not(li[aria-expanded="true"]),
li[data-toggle="collapse"]:not(li[aria-expanded="true"]) * {
  cursor: pointer !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-next *,
.carousel-control-prev * {
  cursor: pointer;
}

.carousel-indicators {
  width: 100%;
  bottom: 0;
  margin: 0 auto;

  border-radius: 0 0 10px 10px;

  background-color: #333;
}
.carousel-indicators > * {
  height: 10px !important;

  background-color: #ccc;
}
.carousel-indicators > .active {
  background-color: #007aa9;
}

a[data-bs-target="#imgCarousel"]> :not(img:hover) {
  transition: transform 0.2s ease;
  transform: translate(0, 0);
}

a[data-bs-target="#imgCarousel"]>img:hover {
  transition: transform 0.2s ease;
  transform: translate(0, -10px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.recruiting .card img {
  width: 100%;
  height: 100%;
}

.no-bg {
  background: none !important;
  border: none !important;
}

footer {
  max-height: 400px;
}

footer img {
  width: 100px;
}


@media (max-width: 1000px) {
  nav ul {
    flex-direction: row !important;
    gap: 10px;
  }

  nav #navbarNav {
    width: 100;
  }

  .main {
    width: 100%;
  }

  .card:not(.custom-size) img {
    width: 200px;
  }

  footer {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  nav form * {
    display: none !important;
    width: 0 !important;
  }
}

@media (max-width: 500px) {
  nav {
    font-size: 12px;
  }

  .card:not(.custom-size) img {
    width: 120px;
    height: 240px;
    border-radius: 4px;
    border: 2px solid #333;
  }
}