* {
  padding: 0;
  margin: 0;
}

:root {
  --main-text-color: #2e3338;
  --main-background-color: #f7f7f7;
  --alt-background-color: #ccc;
  --main-trim-color: #e0e0e0;

  --main-bold-blue: #004665;
  --main-light-blue: #007aa9;

  --link-underline-color: #dade8a;
}

html {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  font-family: "IBM Plex Sans", Helvetica, Arial, "Lucida Grande", sans-serif;

  font-weight: 400;
  font-size: 16px;

  color: var(--main-text-color);
  background-image: url("../img/AIBridge_Background.png");
  background-size: cover;
}

img {
  object-fit: cover;
}

.main {
  margin: auto;
  padding-bottom: 100px;
  padding-top: 20px;
  width: 80%;
  background-color: var(--main-background-color);
}

/* ----- for navbar animation ----- */
.navbar-nav a {
  position: relative;
}
.navbar-nav a:not(.active)::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%; 
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ccc;
  transform: translateX(-50%) scaleX(0); 
  transform-origin: center; 
  transition: transform 0.2s ease-in-out;
}
.navbar-nav a:hover::after {
  width: 90%;
  transform: translateX(-50%) scaleX(1); 
}
/* ------------------------- */

.card {
  width: 90%;
  margin: 8px auto;
}

.card img {
  width: 200px;
  border-radius: 0 3px 3px 0;
}

footer {
  max-height: 400px;
}

footer img {
  width: 100px;
}


@media (max-width: 1000px) {
  nav ul {
    flex-direction: row !important;
    gap: 10px;
  }

  nav #navbarNav {
    width: 100;
  }

  .main {
    width: 100%;
  }

  .card img {
    width: 200px;
  }

  footer {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 16px;
  }

  nav form * {
    display: none !important;
    width: 0 !important;
  }
}

@media (max-width: 500px){
  nav {
    font-size: 12px;
  }

  .card img {
    width: 120px;
    height: 240px;
    border-radius: 4px;
    border: 2px solid #333;
  }
}
